/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@font-face {
   font-family: 'Nunito';
   src: url('app/assets/fonts/Nunito/static/Nunito-Regular.ttf'), format("truetype");
}

h1 {
    font-family: 'Nunito', sans-serif;
}

body {
    font-family: 'Nunito', sans-serif;
}

p {
    font-family: 'Nunito', sans-serif;
}

a {
    font-family: 'Nunito', sans-serif;
}

button {
    font-family: 'Nunito', sans-serif;
}

input, label, textarea, select {
    font-family: 'Nunito', sans-serif;
}
